In [24]:
library(data.table)

# read stuff in

`combo.csv` is the result of combining individual CSVs in `data/`.

first read in site info

In [25]:
site.midas <- read.csv("../site_midas.csv", stringsAsFactor=F)
site.midas$type <- "midas"
tail(site.midas)

      id
11776 17672
11777 17675
11778 17676
11779 17677
11780 17678
11781 17680
      name
11776 MIDAS site at M180/1119A priority 1 on link 116003101; GPS Ref: 478540;408686; Eastbound
11777 MIDAS site at M54/3154M priority 1 on link 111030902; GPS Ref: 391910;304529; Eastbound
11778 MIDAS site at M54/3155B priority 1 on link 200119801; GPS Ref: 391811;304504; Eastbound
11779 MIDAS site at M54/3160B priority 1 on link 200119801; GPS Ref: 391314;304488; Eastbound
11780 MIDAS site at M60/9314J priority 1 on link 115017301; GPS Ref: 382539;405788; Clockwise
11781 MIDAS site at M1/3924B priority 1 on link 107026401; GPS Ref: 447190;334381; Southbound
      description longitude  latitude status type
11776 M180/1119A  -0.8155268 53.56893 Active midas
11777 M54/3154M   -2.1209772 52.63846 Active midas
11778 M54/3155B   -2.1224395 52.63823 Active midas
11779 M54/3160B   -2.1297835 52.63808 Active midas
11780 M60/9314J   -2.2649961 53.54845 Active midas
11781 M1/3924B    -1.2998282 52.90482 Active midas

In [26]:
site.tame <- read.csv("../site_tame.csv", stringsAsFactor=F)
site.tame$type <- "tame"
tail(site.tame)

    id
854 14004
855 14307
856 14308
857 14309
858 14376
859 17679
    name
854 TAME Site 30362511 on link A38 eastbound within the A374 near Plymouth junction; GPS Ref: 251361;56956; Eastbound
855 TAME Site 30362502 on link Connector at A31/A338 near Ringwood (west); GPS Ref: 412871;104170; Eastbound
856 TAME Site 30362503 on link A31 westbound exit for A338 near Ringwood (west); GPS Ref: 413287;104404; Westbound
857 TAME Site 30362504 on link Fast slip link at A31 westbound exit for A338 near Ringwood (west); GPS Ref: 413296;104381; Westbound
858 TAME Site 30362513 on link A21 northbound within the M25/A25 junction after exit for A25 east; GPS Ref: 549833;155937; Northbound
859 TAME Site 30362514 on link A31 eastbound exit for A338 near Ringwood (west); GPS Ref: 412870;104170; Eastbound
    description longitude latitude status type
854 30362511    -4.092551 50.39363 Active tame
855 30362502    -1.818580 50.83691 Active tame
856 30362503    -1.812664 50.83900 Active tame
857 30362504    -1.812537 50.83880 Active tame
858 30362513     0.147077 51.28287 Active tame
859 30362514    -1.818594 50.83691 Active tame

In [27]:
site.tmu <- read.csv("../site_tmu.csv", stringsAsFactor=F)
site.tmu$type <- "tmu"
tail(site.tmu)

     id
2790 16935
2791 16936
2792 17668
2793 17669
2794 17673
2795 17674
     name
2790 TMU 7068/2 on A1(M) southbound within J42 on road A1(M) Southbound at location 53.765282677041000,-1.283889018408000
2791 TMU 7069/1 on A1(M) northbound between J42 and J43 on road A1(M) Northbound at location 53.792111151099000,-1.322338625921000
2792 TMU Site 9967/1 on link A5 northbound between B4100 and A4146 near Bletchley (south); GPS Ref: 490291;232886; Northbound
2793 TMU Site 9967/2 on link A5 southbound between A4146 near Bletchley (south) and B4100; GPS Ref: 490300;232907; Southbound
2794 TMU Site 9968/1 on link A421 northbound between A600 and A603; GPS Ref: 507840;248078; Northbound
2795 TMU Site 9968/2 on link A421 southbound between A603 and A600; GPS Ref: 507852;248068; Southbound
     description longitude  latitude status   type
2790 NO TMU ID   -1.2838890 53.76528 Inactive tmu
2791 NO TMU ID   -1.3223386 53.79211 Inactive tmu
2792 9967/1      -0.6865507 51.98711 Inactive tmu
2793 9967/2      -0.6864142 51.98730 Inactive tmu
2794 9968/1      -0.4263033 52.12052 Active   tmu
2795 9968/2      -0.4261312 52.12043 Active   tmu

combine site info

In [28]:
sites <- rbind(site.midas, site.tame, site.tmu)

read in the actual data obtained from `webtri.sh`

In [29]:
readings <- fread("../combo.csv", stringsAsFactor=F)

In [30]:
tail(readings)

  site_id site_name report_date         time_period_end interval len_0_520_cm
1 99      M1/2501A  2019-04-30T00:00:00 22:44:00        90       369
2 99      M1/2501A  2019-04-30T00:00:00 22:59:00        91       286
3 99      M1/2501A  2019-04-30T00:00:00 23:14:00        92       299
4 99      M1/2501A  2019-04-30T00:00:00 23:29:00        93       253
5 99      M1/2501A  2019-04-30T00:00:00 23:44:00        94       308
6 99      M1/2501A  2019-04-30T00:00:00 23:59:00        95       336
  len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph ⋯
1 36             22              61               NA             ⋯
2 62             21              79               NA             ⋯
3 48             17              60               NA             ⋯
4 36              9              25               NA             ⋯
5 34             13              25               NA             ⋯
6 58             16              47               NA             ⋯
  speed_36_40_mph speed_41_45_mph speed_46_50_mph speed_51_55_mph
1 NA              NA              NA              NA
2 NA              NA              NA              NA
3 NA              NA              NA              NA
4 NA              NA              NA              NA
5 NA              NA              NA              NA
6 NA              NA              NA              NA
  speed_56_60_mph speed_61_70_mph speed_71_80_mph speed_80_plus_mph
1 NA              NA              NA              NA
2 NA              NA              NA              NA
3 NA              NA              NA              NA
4 NA              NA              NA              NA
5 NA              NA              NA              NA
6 NA              NA              NA              NA
  speed_avg_mph total_vol
1 63            488
2 63            448
3 65            424
4 66            323
5 67            380
6 66            457

In [31]:
nrow(readings)

[1] 28779744

In [32]:
gc()

       used      (Mb)   gc trigger (Mb)    max used   (Mb)
Ncells    648810   34.7   39284665  2098.1   30279643  1617.2
Vcells 593512156 4528.2 1982048922 15121.9 1982048922 15121.9

# unwrap embedded site meta info

`name` column contains extra `;` delimited info.
example `ex`:

In [33]:
ex <- sites[sample(1:nrow(sites), 10), ]
ex

      id
8836  12322
3410   3415
12743  7338
8976  12462
13804  8399
6759  10190
10647 14476
6770  10201
14839  9434
2998   3002
      name
8836
3410  MIDAS site at M4/3670A priority 1 on link 102004302; GPS Ref: 378160;178602; Westbound
12743 TMU Site 5018/1 on link A30 eastbound between A395 and A388 near Launceston (west); GPS Ref: 230004;83642; Eastbound
8976
13804 TMU Site 9359/1 on link A19 southbound between A179 and A689; GPS Ref: 445205;528224; Southbound
6759  MIDAS site at M62/2266B priority 1 on link 116036601; GPS Ref: 441525;423653; Westbound
10647 MIDAS site at M3/1439A priority 1 on link 103048301; GPS Ref: 493456;162998; Westbound
6770  MIDAS site at M62/2293A priority 1 on link 116036202; GPS Ref: 444064;423668; Eastbound
14839 TMU Site 7149/2 on A45 westbound between A428/A5095 and A508 (north)/A5076; GPS Ref: 477732;259982; Westbound
2998  MIDAS site at M6/5969A priority 1 on link 112001401; GPS Ref: 399195;297414; Northbound
      description longitude  latitude status   type
8836  M4/2734A    -1.0686452 51.44086 Inactive midas
3410  M4/3670A    -2.3160604 51.50592 Active   midas
12743 5018/1      -4.4049185 50.62762 Active   tmu
8976  M42/6353B   -1.7658418 52.39542 Inactive midas
13804 9359/1      -1.3010063 54.64712 Active   tmu
6759  M62/2266B   -1.3724046 53.70768 Active   midas
10647 M3/1439A    -0.6591563 51.35838 Active   midas
6770  M62/2293A   -1.3339409 53.70760 Active   midas
14839 7149/2      -0.8632263 52.23257 Active   tmu
2998  M6/5969A    -2.0133054 52.57456 Active   midas

## sensor direction

In [34]:
# extract north,east,west,south(bound) or anti-clockwise/clockwise.
direction <- function(x) {
    m <- regexpr("(([A-Za-z]+)bound)|([A-Za-z\\-]+wise)", x, perl=T)
    matches <- tolower(regmatches(x, m))
    # matches does not include NA. do cumsum trick to map NAs:
    # m is a vector of match positions, where -nv = no match found.
    # cumsum over sign of m where -1 replaced with 0, so that non-matches are repeated.
    # then replace repeated with NA, as to get matches same length as input.
    matches[ifelse(m > 0, cumsum(ifelse(m > 0, 1, 0)), NA)]
}

In [35]:
direction(ex$name)

 [1] NA           "westbound"  "eastbound"  NA           "southbound"
 [6] "westbound"  "westbound"  "eastbound"  "westbound"  "northbound"

In [36]:
sites$direction <- direction(sites$name)
table(sites$direction)

anti-clockwise      clockwise      eastbound     northbound      souhbound
           752            778           2055           3344              1
    southbound      westbound
          3326           2079

In [37]:
# fix sensor typo
sites[which(sites$direction == "souhbound"), ]

      id
12581 7187
      name
12581 TAME Site 30360339 on link Marlow Road souhbound between Cressex Road and A404; GPS Ref: 485338;191297; Southbound
      description longitude  latitude status type direction
12581 30360339    -0.7688845 51.61405 Active tame souhbound

In [38]:
sites[which(sites$direction == "souhbound"), ]$direction <- "southbound"
table(sites$direction)

anti-clockwise      clockwise      eastbound     northbound     southbound
           752            778           2055           3344           3327
     westbound
          2079

## eastings, northings

In [39]:
# extract easting and northing matrix
easting_northing <- function(x) {
    m <- regexpr("GPS Ref: [0-9]+;[0-9]+", x, perl=T)
    matches <- matrix(unlist(strsplit(sub("^.*: ", "", regmatches(x, m)), ";")), ncol=2, byrow=T)
    matches <- matches[ifelse(m > 0, cumsum(ifelse(m > 0, 1, 0)), NA), ]
    colnames(matches) <- c("easting", "northing")
    matches
}

In [40]:
easting_northing(ex$name)

      easting northing
 [1,] NA      NA
 [2,] 378160  178602
 [3,] 230004  83642
 [4,] NA      NA
 [5,] 445205  528224
 [6,] 441525  423653
 [7,] 493456  162998
 [8,] 444064  423668
 [9,] 477732  259982
[10,] 399195  297414

In [41]:
sites <- cbind(sites, easting_northing(sites$name))
tail(sites, 10)

      id
15426 16931
15427 16932
15428 16933
15429 16934
15430 16935
15431 16936
15432 17668
15433 17669
15434 17673
15435 17674
      name
15426 TMU 7067/1 on A1(M) J42 northbound exit on road A1(M)  at location 53.760906315412000,-1.281035879562000
15427 TMU 7067/1 on A1(M) J42 northbound exit on road A1(M) Northbound at location 53.760906315412000,-1.281035879562000
15428 TMU 7067/2 on A1(M) northbound within J42 on road A1(M) Northbound at location 53.760959238603000,-1.280868119338000
15429 TMU 7068/1 on A1(M) J42 southbound exit on road A1(M) Southbound at location 53.765353306873000,-1.283675431969000
15430 TMU 7068/2 on A1(M) southbound within J42 on road A1(M) Southbound at location 53.765282677041000,-1.283889018408000
15431 TMU 7069/1 on A1(M) northbound between J42 and J43 on road A1(M) Northbound at location 53.792111151099000,-1.322338625921000
15432 TMU Site 9967/1 on link A5 northbound between B4100 and A4146 near Bletchley (south); GPS Ref: 490291;232886; Northbound
15433 TMU Site 9967/2 on link A5 southbound between A4146 near Bletchley (south) and B4100; GPS Ref: 490300;232907; Southbound
15434 TMU Site 9968/1 on link A421 northbound between A600 and A603; GPS Ref: 507840;248078; Northbound
15435 TMU Site 9968/2 on link A421 southbound between A603 and A600; GPS Ref: 507852;248068; Southbound
      description longitude  latitude status   type direction  easting northing
15426 NO TMU ID   -1.2810359 53.76091 Inactive tmu  northbound NA      NA
15427 NO TMU ID   -1.2810359 53.76091 Inactive tmu  northbound NA      NA
15428 NO TMU ID   -1.2808681 53.76096 Inactive tmu  northbound NA      NA
15429 NO TMU ID   -1.2836754 53.76535 Inactive tmu  southbound NA      NA
15430 NO TMU ID   -1.2838890 53.76528 Inactive tmu  southbound NA      NA
15431 NO TMU ID   -1.3223386 53.79211 Inactive tmu  northbound NA      NA
15432 9967/1      -0.6865507 51.98711 Inactive tmu  northbound 490291  232886
15433 9967/2      -0.6864142 51.98730 Inactive tmu  southbound 490300  232907
15434 9968/1      -0.4263033 52.12052 Active   tmu  northbound 507840  248078
15435 9968/2      -0.4261312 52.12043 Active   tmu  southbound 507852  248068

## combine site info with readings, split into midas, tame, tmu files

In [42]:
# sensor reading -> sensor mapping
mapping <- match(readings$site_id, sites$id)
any(is.na(mapping))

[1] FALSE

In [43]:
gc()

       used      (Mb)   gc trigger (Mb)    max used   (Mb)
Ncells    671204   35.9   31427732  1678.5   30279643  1617.2
Vcells 593559871 4528.6 1982048922 15121.9 1982048922 15121.9

**todo** need to do this in chunks as to save memory

In [44]:
# glue together
readings <- cbind(readings, sites[mapping, -(1:3)])
readings[sample(1:nrow(readings), 10), ]

   site_id site_name report_date         time_period_end interval len_0_520_cm
1  17429   M1/3818M  2019-04-27T00:00:00 08:44:59        34        NA
2   4039   A14/0373J 2019-04-04T00:00:00 08:14:00        32       219
3  14226   M1/4264B  2019-04-07T00:00:00 20:29:59        81        NA
4  17389   M1/3296B  2019-04-22T00:00:00 23:14:00        92       193
5   7703   5877/2    2019-04-16T00:00:00 18:29:00        73       678
6   5146   M4/2193B  2019-04-17T00:00:00 07:59:00        31       482
7   2894   M25/5231B 2019-04-01T00:00:00 15:59:00        63       490
8   8138   6536/1    2019-04-25T00:00:00 13:29:00        53       272
9   2043   A14/1135A 2019-04-11T00:00:00 18:29:00        73       343
10  2565   M25/5106A 2019-04-30T00:00:00 18:14:00        72       999
   len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph ⋯
1   NA            NA              NA               NA             ⋯
2   31            15              10               NA             ⋯
3   NA            NA              NA               NA             ⋯
4   80            11              58               NA             ⋯
5   25             9              13               NA             ⋯
6  120            70              15               NA             ⋯
7  182            68              64               NA             ⋯
8   42            35              71               NA             ⋯
9   14            17              52               NA             ⋯
10 449            54              70               NA             ⋯
   speed_80_plus_mph speed_avg_mph total_vol longitude  latitude status type
1  NA                NA              NA      -1.3061262 52.81381 Active midas
2  NA                49             275      -0.6869716 52.37478 Active midas
3  NA                NA              NA      -1.3236664 53.17836 Active midas
4  NA                67             342      -1.1644052 52.37711 Active midas
5  NA                68             725      -0.2042658 51.07080 Active tmu
6  NA                56             687      -0.3755260 51.48917 Active midas
7  NA                64             804      -0.3806125 51.71636 Active midas
8  NA                62             420      -1.0344285 53.35005 Active tmu
9  NA                64             426       0.3130592 52.21864 Active midas
10 NA                45            1572      -0.5091933 51.63833 Active midas
   direction      easting northing
1  southbound     446864  324253
2  eastbound      489482  276002
3  southbound     445300  364795
4  southbound     456978  275779
5  southbound     525908  131697
6  eastbound      512881  177942
7  anti-clockwise 511968  203199
8  southbound     464373  384117
9  eastbound      558107  260345
10 clockwise      503263  194332

**warning** ^-- pushed R instance to ~70g memory. good job i have swap on an NVMe stick..

In [45]:
tail(readings)

  site_id site_name report_date         time_period_end interval len_0_520_cm
1 99      M1/2501A  2019-04-30T00:00:00 22:44:00        90       369
2 99      M1/2501A  2019-04-30T00:00:00 22:59:00        91       286
3 99      M1/2501A  2019-04-30T00:00:00 23:14:00        92       299
4 99      M1/2501A  2019-04-30T00:00:00 23:29:00        93       253
5 99      M1/2501A  2019-04-30T00:00:00 23:44:00        94       308
6 99      M1/2501A  2019-04-30T00:00:00 23:59:00        95       336
  len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph ⋯
1 36             22              61               NA             ⋯
2 62             21              79               NA             ⋯
3 48             17              60               NA             ⋯
4 36              9              25               NA             ⋯
5 34             13              25               NA             ⋯
6 58             16              47               NA             ⋯
  speed_80_plus_mph speed_avg_mph total_vol longitude  latitude status type
1 NA                63            488       -0.4332477 51.86238 Active midas
2 NA                63            448       -0.4332477 51.86238 Active midas
3 NA                65            424       -0.4332477 51.86238 Active midas
4 NA                66            323       -0.4332477 51.86238 Active midas
5 NA                67            380       -0.4332477 51.86238 Active midas
6 NA                66            457       -0.4332477 51.86238 Active midas
  direction  easting northing
1 northbound 507983  219359
2 northbound 507983  219359
3 northbound 507983  219359
4 northbound 507983  219359
5 northbound 507983  219359
6 northbound 507983  219359

In [47]:
nrow(readings)

[1] 28779744

In [46]:
# write this out and split by midas,tame,tmu later (need to free memory)
fwrite(readings, "../readings_combo.csv", quote=F, row.names=F)