In [9]:
library(data.table)

# read stuff in

`combo.csv` is the result of combining individual CSVs in `data/`.

first read in site info

In [10]:
site.midas <- read.csv("../site_midas.csv", stringsAsFactor=F)
site.midas$type <- "midas"
tail(site.midas)

      id
11776 17672
11777 17675
11778 17676
11779 17677
11780 17678
11781 17680
      name
11776 MIDAS site at M180/1119A priority 1 on link 116003101; GPS Ref: 478540;408686; Eastbound
11777 MIDAS site at M54/3154M priority 1 on link 111030902; GPS Ref: 391910;304529; Eastbound
11778 MIDAS site at M54/3155B priority 1 on link 200119801; GPS Ref: 391811;304504; Eastbound
11779 MIDAS site at M54/3160B priority 1 on link 200119801; GPS Ref: 391314;304488; Eastbound
11780 MIDAS site at M60/9314J priority 1 on link 115017301; GPS Ref: 382539;405788; Clockwise
11781 MIDAS site at M1/3924B priority 1 on link 107026401; GPS Ref: 447190;334381; Southbound
      description longitude  latitude status type
11776 M180/1119A  -0.8155268 53.56893 Active midas
11777 M54/3154M   -2.1209772 52.63846 Active midas
11778 M54/3155B   -2.1224395 52.63823 Active midas
11779 M54/3160B   -2.1297835 52.63808 Active midas
11780 M60/9314J   -2.2649961 53.54845 Active midas
11781 M1/3924B    -1.2998282 52.90482 Active midas

In [11]:
site.tame <- read.csv("../site_tame.csv", stringsAsFactor=F)
site.tame$type <- "tame"
tail(site.tame)

    id
854 14004
855 14307
856 14308
857 14309
858 14376
859 17679
    name
854 TAME Site 30362511 on link A38 eastbound within the A374 near Plymouth junction; GPS Ref: 251361;56956; Eastbound
855 TAME Site 30362502 on link Connector at A31/A338 near Ringwood (west); GPS Ref: 412871;104170; Eastbound
856 TAME Site 30362503 on link A31 westbound exit for A338 near Ringwood (west); GPS Ref: 413287;104404; Westbound
857 TAME Site 30362504 on link Fast slip link at A31 westbound exit for A338 near Ringwood (west); GPS Ref: 413296;104381; Westbound
858 TAME Site 30362513 on link A21 northbound within the M25/A25 junction after exit for A25 east; GPS Ref: 549833;155937; Northbound
859 TAME Site 30362514 on link A31 eastbound exit for A338 near Ringwood (west); GPS Ref: 412870;104170; Eastbound
    description longitude latitude status type
854 30362511    -4.092551 50.39363 Active tame
855 30362502    -1.818580 50.83691 Active tame
856 30362503    -1.812664 50.83900 Active tame
857 30362504    -1.812537 50.83880 Active tame
858 30362513     0.147077 51.28287 Active tame
859 30362514    -1.818594 50.83691 Active tame

In [12]:
site.tmu <- read.csv("../site_tmu.csv", stringsAsFactor=F)
site.tmu$type <- "tmu"
tail(site.tmu)

     id
2790 16935
2791 16936
2792 17668
2793 17669
2794 17673
2795 17674
     name
2790 TMU 7068/2 on A1(M) southbound within J42 on road A1(M) Southbound at location 53.765282677041000,-1.283889018408000
2791 TMU 7069/1 on A1(M) northbound between J42 and J43 on road A1(M) Northbound at location 53.792111151099000,-1.322338625921000
2792 TMU Site 9967/1 on link A5 northbound between B4100 and A4146 near Bletchley (south); GPS Ref: 490291;232886; Northbound
2793 TMU Site 9967/2 on link A5 southbound between A4146 near Bletchley (south) and B4100; GPS Ref: 490300;232907; Southbound
2794 TMU Site 9968/1 on link A421 northbound between A600 and A603; GPS Ref: 507840;248078; Northbound
2795 TMU Site 9968/2 on link A421 southbound between A603 and A600; GPS Ref: 507852;248068; Southbound
     description longitude  latitude status   type
2790 NO TMU ID   -1.2838890 53.76528 Inactive tmu
2791 NO TMU ID   -1.3223386 53.79211 Inactive tmu
2792 9967/1      -0.6865507 51.98711 Inactive tmu
2793 9967/2      -0.6864142 51.98730 Inactive tmu
2794 9968/1      -0.4263033 52.12052 Active   tmu
2795 9968/2      -0.4261312 52.12043 Active   tmu

combine site info

In [13]:
sites <- rbind(site.midas, site.tame, site.tmu)

read in the actual data obtained from `webtri.sh`

In [14]:
readings <- fread("../combo.csv", stringsAsFactor=F)

In [15]:
tail(readings)

  site_id site_name report_date         time_period_end interval len_0_520_cm
1 99      M1/2501A  2019-03-31T00:00:00 22:44:00        90       441
2 99      M1/2501A  2019-03-31T00:00:00 22:59:00        91       457
3 99      M1/2501A  2019-03-31T00:00:00 23:14:00        92       399
4 99      M1/2501A  2019-03-31T00:00:00 23:29:00        93       405
5 99      M1/2501A  2019-03-31T00:00:00 23:44:00        94       348
6 99      M1/2501A  2019-03-31T00:00:00 23:59:00        95       311
  len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph
1 53             21              37               NA
2 44             21              42               NA
3 58             13              40               NA
4 44             13              43               NA
5 39             16              33               NA
6 42             13              59               NA
  speed_36_40_mph speed_41_45_mph speed_46_50_mph speed_51_55_mph
1 NA              NA              NA              NA
2 NA              NA              NA              NA
3 NA              NA              NA              NA
4 NA              NA              NA              NA
5 NA              NA              NA              NA
6 NA              NA              NA              NA
  speed_56_60_mph speed_61_70_mph speed_71_80_mph speed_80_plus_mph
1 NA              NA              NA              NA
2 NA              NA              NA              NA
3 NA              NA              NA              NA
4 NA              NA              NA              NA
5 NA              NA              NA              NA
6 NA              NA              NA              NA
  speed_avg_mph total_vol
1 64            552
2 65            564
3 64            510
4 64            505
5 65            436
6 64            425

In [16]:
nrow(readings)

[1] 30196192

In [17]:
gc()

       used      (Mb)   gc trigger (Mb)   max used  (Mb)
Ncells    603189   32.3   1202614    64.3   1202614   64.3
Vcells 507757470 3873.9 681600960  5200.3 508224642 3877.5

# unwrap embedded site meta info

`name` column contains extra `;` delimited info.
example `ex`:

In [18]:
ex <- sites[sample(1:nrow(sites), 10), ]
ex

      id
11483 17377
6369   9704
4244   4249
8110  11596
7208  10672
12742  7337
1117   1117
12055  6602
2508   2512
541     541
      name
11483 MIDAS site at M1/3869K priority 1 on link 107026902; GPS Ref: 447117;329229; Northbound
6369  MIDAS site at M18/7546B priority 1 on link 116007601; GPS Ref: 449694;391595; Southbound
4244  MIDAS site at M6/7300B priority 1 on link 117007102; GPS Ref: 354233;411273; Southbound
8110
7208  MIDAS site at M6/6120L priority 1 on link 111034901; GPS Ref: 393023;310629; Southbound
12742 TMU Site 5019/1 on link A30 westbound between A388 near Launceston (west) and A395; GPS Ref: 230052;83647; Westbound
1117  MIDAS site at M621/1002A priority 1 on link 116034401; GPS Ref: 423443;427933; Eastbound
12055 TAME Site 30360768 on link A38 northbound between B600 and M1; GPS Ref: 443277;355279; Northbound
2508  MIDAS site at M25/5260A priority 1 on link 199002901; GPS Ref: 515131;202553; Clockwise
541   MIDAS site at M42/6257B priority 1 on link 111001301; GPS Ref: 409741;272613; Southbound
      description longitude  latitude status   type
11483 M1/3869K    -1.3016567 52.85852 Active   midas
6369  M18/7546B   -1.2537441 53.41884 Active   midas
4244  M6/7300B    -2.6929827 53.59604 Active   midas
8110  M6/6708J    -2.3457756 53.15188 Inactive midas
7208  M6/6120L    -2.1046620 52.69331 Active   midas
12742 5019/1      -4.4042428 50.62768 Active   tmu
1117  M621/1002A  -1.6460044 53.74726 Active   midas
12055 30360768    -1.3552134 53.09299 Active   tame
2508  M25/5260A   -0.3350627 51.70991 Active   midas
541   M42/6257B   -1.8584043 52.35151 Active   midas

## sensor direction

In [19]:
# extract north,east,west,south(bound) or anti-clockwise/clockwise.
direction <- function(x) {
    m <- regexpr("(([A-Za-z]+)bound)|([A-Za-z\\-]+wise)", x, perl=T)
    matches <- tolower(regmatches(x, m))
    # matches does not include NA. do cumsum trick to map NAs:
    # m is a vector of match positions, where -nv = no match found.
    # cumsum over sign of m where -1 replaced with 0, so that non-matches are repeated.
    # then replace repeated with NA, as to get matches same length as input.
    matches[ifelse(m > 0, cumsum(ifelse(m > 0, 1, 0)), NA)]
}

In [20]:
direction(ex$name)

 [1] "northbound" "southbound" "southbound" NA           "southbound"
 [6] "westbound"  "eastbound"  "northbound" "clockwise"  "southbound"

In [21]:
sites$direction <- direction(sites$name)
table(sites$direction)

anti-clockwise      clockwise      eastbound     northbound      souhbound
           752            778           2055           3344              1
    southbound      westbound
          3326           2079

In [22]:
# fix sensor typo
sites[which(sites$direction == "souhbound"), ]

      id
12581 7187
      name
12581 TAME Site 30360339 on link Marlow Road souhbound between Cressex Road and A404; GPS Ref: 485338;191297; Southbound
      description longitude  latitude status type direction
12581 30360339    -0.7688845 51.61405 Active tame souhbound

In [23]:
sites[which(sites$direction == "souhbound"), ]$direction <- "southbound"
table(sites$direction)

anti-clockwise      clockwise      eastbound     northbound     southbound
           752            778           2055           3344           3327
     westbound
          2079

## eastings, northings

In [24]:
# extract easting and northing matrix
easting_northing <- function(x) {
    m <- regexpr("GPS Ref: [0-9]+;[0-9]+", x, perl=T)
    matches <- matrix(unlist(strsplit(sub("^.*: ", "", regmatches(x, m)), ";")), ncol=2, byrow=T)
    matches <- matches[ifelse(m > 0, cumsum(ifelse(m > 0, 1, 0)), NA), ]
    colnames(matches) <- c("easting", "northing")
    matches
}

In [25]:
easting_northing(ex$name)

      easting northing
 [1,] 447117  329229
 [2,] 449694  391595
 [3,] 354233  411273
 [4,] NA      NA
 [5,] 393023  310629
 [6,] 230052  83647
 [7,] 423443  427933
 [8,] 443277  355279
 [9,] 515131  202553
[10,] 409741  272613

In [26]:
sites <- cbind(sites, easting_northing(sites$name))
tail(sites, 10)

      id
15426 16931
15427 16932
15428 16933
15429 16934
15430 16935
15431 16936
15432 17668
15433 17669
15434 17673
15435 17674
      name
15426 TMU 7067/1 on A1(M) J42 northbound exit on road A1(M)  at location 53.760906315412000,-1.281035879562000
15427 TMU 7067/1 on A1(M) J42 northbound exit on road A1(M) Northbound at location 53.760906315412000,-1.281035879562000
15428 TMU 7067/2 on A1(M) northbound within J42 on road A1(M) Northbound at location 53.760959238603000,-1.280868119338000
15429 TMU 7068/1 on A1(M) J42 southbound exit on road A1(M) Southbound at location 53.765353306873000,-1.283675431969000
15430 TMU 7068/2 on A1(M) southbound within J42 on road A1(M) Southbound at location 53.765282677041000,-1.283889018408000
15431 TMU 7069/1 on A1(M) northbound between J42 and J43 on road A1(M) Northbound at location 53.792111151099000,-1.322338625921000
15432 TMU Site 9967/1 on link A5 northbound between B4100 and A4146 near Bletchley (south); GPS Ref: 490291;232886; Northbound
15433 TMU Site 9967/2 on link A5 southbound between A4146 near Bletchley (south) and B4100; GPS Ref: 490300;232907; Southbound
15434 TMU Site 9968/1 on link A421 northbound between A600 and A603; GPS Ref: 507840;248078; Northbound
15435 TMU Site 9968/2 on link A421 southbound between A603 and A600; GPS Ref: 507852;248068; Southbound
      description longitude  latitude status   type direction  easting northing
15426 NO TMU ID   -1.2810359 53.76091 Inactive tmu  northbound NA      NA
15427 NO TMU ID   -1.2810359 53.76091 Inactive tmu  northbound NA      NA
15428 NO TMU ID   -1.2808681 53.76096 Inactive tmu  northbound NA      NA
15429 NO TMU ID   -1.2836754 53.76535 Inactive tmu  southbound NA      NA
15430 NO TMU ID   -1.2838890 53.76528 Inactive tmu  southbound NA      NA
15431 NO TMU ID   -1.3223386 53.79211 Inactive tmu  northbound NA      NA
15432 9967/1      -0.6865507 51.98711 Inactive tmu  northbound 490291  232886
15433 9967/2      -0.6864142 51.98730 Inactive tmu  southbound 490300  232907
15434 9968/1      -0.4263033 52.12052 Active   tmu  northbound 507840  248078
15435 9968/2      -0.4261312 52.12043 Active   tmu  southbound 507852  248068

## combine site info with readings, split into midas, tame, tmu files

In [27]:
# sensor reading -> sensor mapping
mapping <- match(readings$site_id, sites$id)
any(is.na(mapping))

[1] FALSE

In [28]:
gc()

       used      (Mb)   gc trigger (Mb)   max used  (Mb)
Ncells    630807   33.7   1202614    64.3   1202614   64.3
Vcells 522935197 3989.7 818001152  6240.9 553604517 4223.7

**todo** need to do this in chunks as to save memory

In [29]:
# glue together
readings <- cbind(readings, sites[mapping, -(1:3)])
readings[sample(1:nrow(readings), 10), ]

   site_id site_name report_date         time_period_end interval len_0_520_cm
1  3672    M4/3166A  2019-03-12T00:00:00 08:44:00        34       481
2  8634    9057/1    2019-03-22T00:00:00 01:44:59         6        NA
3  8600    8856/2    2019-03-24T00:00:00 10:14:00        40       233
4  6514    30360200  2019-03-06T00:00:00 22:14:00        88       203
5  2176    A1M/9694J 2019-03-29T00:00:00 09:59:00        39        75
6  5945    M25/4342L 2019-03-17T00:00:00 17:59:00        71        72
7  3707    M25/5020A 2019-03-16T00:00:00 18:59:00        75       979
8  6360    30360299  2019-03-14T00:00:00 01:29:00         5        35
9   337    M62/1300A 2019-03-15T00:00:00 00:29:59         1        NA
10 1920    M1/4154A  2019-03-17T00:00:00 03:59:00        15        31
   len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph
1  75             26              58               NA
2  NA             NA              NA               NA
3   9              4               1               NA
4  15              7               5                0
5   6              8               8               NA
6   9              2               5               NA
7  29             21              28               NA
8   2              3               4                0
9  NA             NA              NA               NA
10  4              7              16               NA
   speed_80_plus_mph speed_avg_mph total_vol longitude  latitude status type
1  NA                71             640      -1.6306728 51.51328 Active midas
2  NA                NA              NA      -2.9128519 53.51016 Active tmu
3  NA                66             247      -1.5860508 53.77321 Active tmu
4   0                44             230      -1.4982108 50.94588 Active tame
5  NA                50              97      -1.3753144 53.94276 Active midas
6  NA                47              88       0.0355777 51.27242 Active midas
7  NA                54            1057      -0.5282644 51.55542 Active midas
8   5                64              44      -0.9798699 50.96274 Active tame
9  NA                NA              NA      -2.5487914 53.42783 Active midas
10 NA                64              58      -1.3018433 53.08657 Active midas
   direction      easting northing
1  westbound      425725  179437
2  eastbound      339559  401883
3  eastbound      427380  430841
4  eastbound      435348  116392
5  northbound     441103  449807
6  anti-clockwise 542090  154553
7  clockwise      502129  185085
8  southbound     471736  118642
9  eastbound      363632  392476
10 northbound     446858  354598

**warning** ^-- pushed R instance to ~70g memory. good job i have swap on an NVMe stick..

In [30]:
tail(readings)

  site_id site_name report_date         time_period_end interval len_0_520_cm
1 99      M1/2501A  2019-03-31T00:00:00 22:44:00        90       441
2 99      M1/2501A  2019-03-31T00:00:00 22:59:00        91       457
3 99      M1/2501A  2019-03-31T00:00:00 23:14:00        92       399
4 99      M1/2501A  2019-03-31T00:00:00 23:29:00        93       405
5 99      M1/2501A  2019-03-31T00:00:00 23:44:00        94       348
6 99      M1/2501A  2019-03-31T00:00:00 23:59:00        95       311
  len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph
1 53             21              37               NA
2 44             21              42               NA
3 58             13              40               NA
4 44             13              43               NA
5 39             16              33               NA
6 42             13              59               NA
  speed_80_plus_mph speed_avg_mph total_vol longitude  latitude status type
1 NA                64            552       -0.4332477 51.86238 Active midas
2 NA                65            564       -0.4332477 51.86238 Active midas
3 NA                64            510       -0.4332477 51.86238 Active midas
4 NA                64            505       -0.4332477 51.86238 Active midas
5 NA                65            436       -0.4332477 51.86238 Active midas
6 NA                64            425       -0.4332477 51.86238 Active midas
  direction  easting northing
1 northbound 507983  219359
2 northbound 507983  219359
3 northbound 507983  219359
4 northbound 507983  219359
5 northbound 507983  219359
6 northbound 507983  219359

In [31]:
# write this out and split by midas,tame,tmu later (need to free memory)
fwrite(readings, "../readings_combo.csv", quote=F, row.names=F)