```bash
cd webtri.sh
./webtri.sh -f get_site_types
id,description
1,MIDAS
2,TAME
3,TMU
4,Legacy
5,NONE
```

```bash
./webtri.sh -f get_site_by_type -a 1 > ../site_midas.csv
./webtri.sh -f get_site_by_type -a 2 > ../site_tame.csv
./webtri.sh -f get_site_by_type -a 3 > ../site_tmu.csv
```

In [1]:
library(data.table)

# read stuff in

`data/combo.csv` is the result of combining individual CSVs:

```bash
cd data/
echo "site_id,"$(head -1 1.csv) > x
for i in $(ls *.csv) ;do tail -n+2 $i |sed "s/^/$i,/; s/.csv//" >> x ;done
mv -v x combo.csv
```

In [2]:
site.midas <- read.csv("site_midas.csv", stringsAsFactor=F)
site.midas$type <- "midas"
tail(site.midas)

      id
11776 17672
11777 17675
11778 17676
11779 17677
11780 17678
11781 17680
      name
11776 MIDAS site at M180/1119A priority 1 on link 116003101; GPS Ref: 478540;408686; Eastbound
11777 MIDAS site at M54/3154M priority 1 on link 111030902; GPS Ref: 391910;304529; Eastbound
11778 MIDAS site at M54/3155B priority 1 on link 200119801; GPS Ref: 391811;304504; Eastbound
11779 MIDAS site at M54/3160B priority 1 on link 200119801; GPS Ref: 391314;304488; Eastbound
11780 MIDAS site at M60/9314J priority 1 on link 115017301; GPS Ref: 382539;405788; Clockwise
11781 MIDAS site at M1/3924B priority 1 on link 107026401; GPS Ref: 447190;334381; Southbound
      description longitude  latitude status type
11776 M180/1119A  -0.8155268 53.56893 Active midas
11777 M54/3154M   -2.1209772 52.63846 Active midas
11778 M54/3155B   -2.1224395 52.63823 Active midas
11779 M54/3160B   -2.1297835 52.63808 Active midas
11780 M60/9314J   -2.2649961 53.54845 Active midas
11781 M1/3924B    -1.2998282 52.90482 Active midas

In [3]:
site.tame <- read.csv("site_tame.csv", stringsAsFactor=F)
site.tame$type <- "tame"
tail(site.tame)

    id
854 14004
855 14307
856 14308
857 14309
858 14376
859 17679
    name
854 TAME Site 30362511 on link A38 eastbound within the A374 near Plymouth junction; GPS Ref: 251361;56956; Eastbound
855 TAME Site 30362502 on link Connector at A31/A338 near Ringwood (west); GPS Ref: 412871;104170; Eastbound
856 TAME Site 30362503 on link A31 westbound exit for A338 near Ringwood (west); GPS Ref: 413287;104404; Westbound
857 TAME Site 30362504 on link Fast slip link at A31 westbound exit for A338 near Ringwood (west); GPS Ref: 413296;104381; Westbound
858 TAME Site 30362513 on link A21 northbound within the M25/A25 junction after exit for A25 east; GPS Ref: 549833;155937; Northbound
859 TAME Site 30362514 on link A31 eastbound exit for A338 near Ringwood (west); GPS Ref: 412870;104170; Eastbound
    description longitude latitude status type
854 30362511    -4.092551 50.39363 Active tame
855 30362502    -1.818580 50.83691 Active tame
856 30362503    -1.812664 50.83900 Active tame
857 30362504    -1.812537 50.83880 Active tame
858 30362513     0.147077 51.28287 Active tame
859 30362514    -1.818594 50.83691 Active tame

In [4]:
site.tmu <- read.csv("site_tmu.csv", stringsAsFactor=F)
site.tmu$type <- "tmu"
tail(site.tmu)

     id
2790 16935
2791 16936
2792 17668
2793 17669
2794 17673
2795 17674
     name
2790 TMU 7068/2 on A1(M) southbound within J42 on road A1(M) Southbound at location 53.765282677041000,-1.283889018408000
2791 TMU 7069/1 on A1(M) northbound between J42 and J43 on road A1(M) Northbound at location 53.792111151099000,-1.322338625921000
2792 TMU Site 9967/1 on link A5 northbound between B4100 and A4146 near Bletchley (south); GPS Ref: 490291;232886; Northbound
2793 TMU Site 9967/2 on link A5 southbound between A4146 near Bletchley (south) and B4100; GPS Ref: 490300;232907; Southbound
2794 TMU Site 9968/1 on link A421 northbound between A600 and A603; GPS Ref: 507840;248078; Northbound
2795 TMU Site 9968/2 on link A421 southbound between A603 and A600; GPS Ref: 507852;248068; Southbound
     description longitude  latitude status   type
2790 NO TMU ID   -1.2838890 53.76528 Inactive tmu
2791 NO TMU ID   -1.3223386 53.79211 Inactive tmu
2792 9967/1      -0.6865507 51.98711 Inactive tmu
2793 9967/2      -0.6864142 51.98730 Inactive tmu
2794 9968/1      -0.4263033 52.12052 Active   tmu
2795 9968/2      -0.4261312 52.12043 Active   tmu

In [5]:
# combine
sites <- rbind(site.midas, site.tame, site.tmu)

In [6]:
readings <- fread("data/combo.csv", stringsAsFactor=F)

In [7]:
tail(readings)

  site_id site_name report_date         time_period_end interval len_0_520_cm
1 99      M1/2501A  2019-02-28T00:00:00 22:44:00        90       368
2 99      M1/2501A  2019-02-28T00:00:00 22:59:00        91       301
3 99      M1/2501A  2019-02-28T00:00:00 23:14:00        92       364
4 99      M1/2501A  2019-02-28T00:00:00 23:29:00        93       300
5 99      M1/2501A  2019-02-28T00:00:00 23:44:00        94       309
6 99      M1/2501A  2019-02-28T00:00:00 23:59:00        95       279
  len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph ⋯
1 41             20              56               NA             ⋯
2 42             18              62               NA             ⋯
3 23             11              60               NA             ⋯
4 32             18              78               NA             ⋯
5 34             21              70               NA             ⋯
6 41             18              78               NA             ⋯
  speed_36_40_mph speed_41_45_mph speed_46_50_mph speed_51_55_mph
1 NA              NA              NA              NA
2 NA              NA              NA              NA
3 NA              NA              NA              NA
4 NA              NA              NA              NA
5 NA              NA              NA              NA
6 NA              NA              NA              NA
  speed_56_60_mph speed_61_70_mph speed_71_80_mph speed_80_plus_mph
1 NA              NA              NA              NA
2 NA              NA              NA              NA
3 NA              NA              NA              NA
4 NA              NA              NA              NA
5 NA              NA              NA              NA
6 NA              NA              NA              NA
  speed_avg_mph total_vol
1 57            485
2 58            423
3 58            458
4 59            428
5 60            434
6 60            416

In [8]:
nrow(readings)

[1] 117692256

In [9]:
gc()

       used       (Mb)    gc trigger (Mb)    max used   (Mb)
Ncells     600358    32.1    1202528    64.3    1202528    64.3
Vcells 1968126887 15015.7 2634322208 20098.3 1968594115 15019.2

# unwrap embedded site meta info

`name` column contains extra `;` delimited info.
example `ex`:

In [10]:
ex <- sites[sample(1:nrow(sites), 10), ]
ex

      id
2014   2016
13046  7641
3505   3510
6345   9672
9467  12953
11259 17153
5225   5230
6099   6105
8408  11894
4842   4847
      name
2014  MIDAS site at M6/5349B priority 1 on link 107034301; GPS Ref: 453816;278971; Southbound
13046 TMU Site 5634/2 on link M4 eastbound within J7; GPS Ref: 493332;180058; Eastbound
3505  MIDAS site at M1/3805A priority 7 on link 107031701; GPS Ref: 447168;322994; Northbound
6345  MIDAS site at M11/6462M priority 1 on link 200029245; GPS Ref: 551335;221064; Carriageway Connector
9467
11259 MIDAS site at M4/3836A, 074/7/121/315 on M4 westbound between J19 and J20 on road M4  at location 51.527411347716000,-2.529639971485000
5225  MIDAS site at A2/9078A priority 1 on link 125024601; GPS Ref: 622561;148818; Eastbound
6099  MIDAS site at M25/4405A priority 1 on link 199121802; GPS Ref: 536293;152773; Clockwise
8408
4842  MIDAS site at M4/3402B priority 1 on link 102004801; GPS Ref: 403598;183179; Eastbound
      description longitude   latitude status   type
2014  M6/5349B    -1.21033876 52.40613 Inactive midas
13046 5634/2      -0.65644602 51.51175 Inactive tmu
3505  M1/3805A    -1.30179723 52.80247 Active   midas
6345  M11/6462M    0.19663284 51.86764 Active   midas
9467  M6/6799B    -2.39419047 53.22671 Inactive midas
11259 NO MIDAS ID -2.52963997 51.52741 Inactive midas
5225  A2/9078A     1.18404896 51.19522 Inactive midas
6099  M25/4405A   -0.04815074 51.25783 Active   midas
8408  M11/6430A    0.19097120 51.84170 Inactive midas
4842  M4/3402B    -1.94949843 51.54749 Active   midas

## sensor direction

In [11]:
# extract north,east,west,south(bound) or anti-clockwise/clockwise.
direction <- function(x) {
    m <- regexpr("(([A-Za-z]+)bound)|([A-Za-z\\-]+wise)", x, perl=T)
    matches <- tolower(regmatches(x, m))
    # matches does not include NA. do cumsum trick to map NAs:
    # m is a vector of match positions, where -nv = no match found.
    # cumsum over sign of m where -1 replaced with 0, so that non-matches are repeated.
    # then replace repeated with NA, as to get matches same length as input.
    matches[ifelse(m > 0, cumsum(ifelse(m > 0, 1, 0)), NA)]
}

In [12]:
direction(ex$name)

 [1] "southbound" "eastbound"  "northbound" NA           NA
 [6] "westbound"  "eastbound"  "clockwise"  NA           "eastbound"

In [13]:
sites$direction <- direction(sites$name)
table(sites$direction)

anti-clockwise      clockwise      eastbound     northbound      souhbound
           752            778           2055           3344              1
    southbound      westbound
          3326           2079

In [14]:
# fix sensor typo
sites[which(sites$direction == "souhbound"), ]

      id
12581 7187
      name
12581 TAME Site 30360339 on link Marlow Road souhbound between Cressex Road and A404; GPS Ref: 485338;191297; Southbound
      description longitude  latitude status type direction
12581 30360339    -0.7688845 51.61405 Active tame souhbound

In [15]:
sites[which(sites$direction == "souhbound"), ]$direction <- "southbound"
table(sites$direction)

anti-clockwise      clockwise      eastbound     northbound     southbound
           752            778           2055           3344           3327
     westbound
          2079

## eastings, northings

In [16]:
# extract easting and northing matrix
easting_northing <- function(x) {
    m <- regexpr("GPS Ref: [0-9]+;[0-9]+", x, perl=T)
    matches <- matrix(unlist(strsplit(sub("^.*: ", "", regmatches(x, m)), ";")), ncol=2, byrow=T)
    matches <- matches[ifelse(m > 0, cumsum(ifelse(m > 0, 1, 0)), NA), ]
    colnames(matches) <- c("easting", "northing")
    matches
}

In [17]:
easting_northing(ex$name)

      easting northing
 [1,] 453816  278971
 [2,] 493332  180058
 [3,] 447168  322994
 [4,] 551335  221064
 [5,] NA      NA
 [6,] NA      NA
 [7,] 622561  148818
 [8,] 536293  152773
 [9,] NA      NA
[10,] 403598  183179

In [18]:
sites <- cbind(sites, easting_northing(sites$name))
tail(sites, 10)

      id
15426 16931
15427 16932
15428 16933
15429 16934
15430 16935
15431 16936
15432 17668
15433 17669
15434 17673
15435 17674
      name
15426 TMU 7067/1 on A1(M) J42 northbound exit on road A1(M)  at location 53.760906315412000,-1.281035879562000
15427 TMU 7067/1 on A1(M) J42 northbound exit on road A1(M) Northbound at location 53.760906315412000,-1.281035879562000
15428 TMU 7067/2 on A1(M) northbound within J42 on road A1(M) Northbound at location 53.760959238603000,-1.280868119338000
15429 TMU 7068/1 on A1(M) J42 southbound exit on road A1(M) Southbound at location 53.765353306873000,-1.283675431969000
15430 TMU 7068/2 on A1(M) southbound within J42 on road A1(M) Southbound at location 53.765282677041000,-1.283889018408000
15431 TMU 7069/1 on A1(M) northbound between J42 and J43 on road A1(M) Northbound at location 53.792111151099000,-1.322338625921000
15432 TMU Site 9967/1 on link A5 northbound between B4100 and A4146 near Bletchley (south); GPS Ref: 490291;232886; Northbound
15433 TMU Site 9967/2 on link A5 southbound between A4146 near Bletchley (south) and B4100; GPS Ref: 490300;232907; Southbound
15434 TMU Site 9968/1 on link A421 northbound between A600 and A603; GPS Ref: 507840;248078; Northbound
15435 TMU Site 9968/2 on link A421 southbound between A603 and A600; GPS Ref: 507852;248068; Southbound
      description longitude  latitude status   type direction  easting northing
15426 NO TMU ID   -1.2810359 53.76091 Inactive tmu  northbound NA      NA
15427 NO TMU ID   -1.2810359 53.76091 Inactive tmu  northbound NA      NA
15428 NO TMU ID   -1.2808681 53.76096 Inactive tmu  northbound NA      NA
15429 NO TMU ID   -1.2836754 53.76535 Inactive tmu  southbound NA      NA
15430 NO TMU ID   -1.2838890 53.76528 Inactive tmu  southbound NA      NA
15431 NO TMU ID   -1.3223386 53.79211 Inactive tmu  northbound NA      NA
15432 9967/1      -0.6865507 51.98711 Inactive tmu  northbound 490291  232886
15433 9967/2      -0.6864142 51.98730 Inactive tmu  southbound 490300  232907
15434 9968/1      -0.4263033 52.12052 Active   tmu  northbound 507840  248078
15435 9968/2      -0.4261312 52.12043 Active   tmu  southbound 507852  248068

## combine site info with readings, split into midas, tame, tmu files

In [19]:
# sensor reading -> sensor mapping
mapping <- match(readings$site_id, sites$id)
any(is.na(mapping))

[1] FALSE

In [20]:
gc()

       used       (Mb)    gc trigger (Mb)    max used   (Mb)
Ncells     627761    33.6    1202528    64.3    1202528    64.3
Vcells 2027052134 15465.2 3161266649 24118.6 2145166714 16366.4

In [21]:
# glue together
readings <- cbind(readings, sites[mapping, -(1:3)])
readings[sample(1:nrow(readings), 10), ]

   site_id site_name report_date         time_period_end interval len_0_520_cm
1   3922   M25/5464B 2019-01-28T00:00:00 16:44:00        66       717
2   9479   7131/1    2019-02-20T00:00:00 02:14:00         8        11
3   8337   9296/2    2018-12-23T00:00:00 12:29:59        49        NA
4   3505   A14/1144B 2018-11-19T00:00:00 08:29:00        33       703
5  17631   M60/9277B 2019-02-19T00:00:00 09:44:59        38        NA
6   2767   M62/2123A 2018-12-31T00:00:00 18:29:00        73       336
7   6525   30360666  2018-11-20T00:00:00 07:29:59        29        NA
8   8197   7029/2    2018-11-19T00:00:00 17:59:00        71        58
9   3606   M1/2998B  2019-01-28T00:00:00 10:44:59        42        NA
10  8705   9266/2    2018-11-02T00:00:00 20:14:00        80        61
   len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph ⋯
1  270            162             144              NA             ⋯
2    0              3              10              NA             ⋯
3   NA             NA              NA              NA             ⋯
4  110             71              92              NA             ⋯
5   NA             NA              NA              NA             ⋯
6   52             11              11              NA             ⋯
7   NA             NA              NA              NA             ⋯
8    7              0               3              NA             ⋯
9   NA             NA              NA              NA             ⋯
10   2              0               1              NA             ⋯
   speed_80_plus_mph speed_avg_mph total_vol longitude   latitude status type
1  NA                55            1293      -0.06102875 51.68250 Active midas
2  NA                59              24      -1.05394661 52.07251 Active tmu
3  NA                NA              NA      -1.51355588 54.65106 Active tmu
4  NA                42             976       0.32209850 52.22550 Active midas
5  NA                NA              NA      -2.31434645 53.53191 Active midas
6  NA                69             410      -1.57355496 53.73354 Active midas
7  NA                NA              NA       0.28726897 51.49467 Active tame
8  NA                56              68      -2.72126861 52.20527 Active tmu
9  NA                NA              NA      -0.89480427 52.18562 Active midas
10 NA                47              64      -0.43335059 54.20366 Active tmu
   direction      easting northing
1  anti-clockwise 534144  199972
2  southbound     464939  241992
3  northbound     431486  528547
4  westbound      558700  261127
5  anti-clockwise 379261  403961
6  eastbound      428230  426432
7  westbound      558874  179783
8  southbound     350807  256582
9  southbound     475655  254726
10 westbound      502289  479788

**warning** ^-- pushed R instance to ~70g memory. good job i have swap on an NVMe stick..

In [22]:
tail(readings)

  site_id site_name report_date         time_period_end interval len_0_520_cm
1 99      M1/2501A  2019-02-28T00:00:00 22:44:00        90       368
2 99      M1/2501A  2019-02-28T00:00:00 22:59:00        91       301
3 99      M1/2501A  2019-02-28T00:00:00 23:14:00        92       364
4 99      M1/2501A  2019-02-28T00:00:00 23:29:00        93       300
5 99      M1/2501A  2019-02-28T00:00:00 23:44:00        94       309
6 99      M1/2501A  2019-02-28T00:00:00 23:59:00        95       279
  len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph ⋯
1 41             20              56               NA             ⋯
2 42             18              62               NA             ⋯
3 23             11              60               NA             ⋯
4 32             18              78               NA             ⋯
5 34             21              70               NA             ⋯
6 41             18              78               NA             ⋯
  speed_80_plus_mph speed_avg_mph total_vol longitude  latitude status type
1 NA                57            485       -0.4332477 51.86238 Active midas
2 NA                58            423       -0.4332477 51.86238 Active midas
3 NA                58            458       -0.4332477 51.86238 Active midas
4 NA                59            428       -0.4332477 51.86238 Active midas
5 NA                60            434       -0.4332477 51.86238 Active midas
6 NA                60            416       -0.4332477 51.86238 Active midas
  direction  easting northing
1 northbound 507983  219359
2 northbound 507983  219359
3 northbound 507983  219359
4 northbound 507983  219359
5 northbound 507983  219359
6 northbound 507983  219359

In [23]:
# write this out and split by midas,tame,tmu later (need to free memory)
fwrite(readings, "readings_combo.csv", quote=F, row.names=F)