# split into midas,tame,tmu

In [1]:
library(data.table)

In [2]:
x <- fread("readings_combo.csv", stringsAsFactors=F)
head(x)

  site_id site_name report_date         time_period_end interval len_0_520_cm
1 10000   M3/2055L  2018-11-01T00:00:00 00:14:00        0        6
2 10000   M3/2055L  2018-11-01T00:00:00 00:29:00        1        5
3 10000   M3/2055L  2018-11-01T00:00:00 00:44:00        2        4
4 10000   M3/2055L  2018-11-01T00:00:00 00:59:00        3        1
5 10000   M3/2055L  2018-11-01T00:00:00 01:14:00        4        1
6 10000   M3/2055L  2018-11-01T00:00:00 01:29:00        5        7
  len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph ⋯
1 0              0               0                NA             ⋯
2 0              0               0                NA             ⋯
3 0              0               0                NA             ⋯
4 2              0               1                NA             ⋯
5 0              0               0                NA             ⋯
6 2              1               1                NA             ⋯
  speed_80_plus_mph speed_avg_mph total_vol longitude latitude status type
1 NA                53             6        -1.303344 51.04742 Active midas
2 NA                65             5        -1.303344 51.04742 Active midas
3 NA                54             4        -1.303344 51.04742 Active midas
4 NA                53             4        -1.303344 51.04742 Active midas
5 NA                54             1        -1.303344 51.04742 Active midas
6 NA                52            11        -1.303344 51.04742 Active midas
  direction easting northing
1 eastbound 448931  127795
2 eastbound 448931  127795
3 eastbound 448931  127795
4 eastbound 448931  127795
5 eastbound 448931  127795
6 eastbound 448931  127795

In [9]:
keep.cols <- ! colnames(x) %in% c("type", "status")
midas <- x[x$type == "midas", ..keep.cols]
tame <- x[x$type == "tame", ..keep.cols]
tmu <- x[x$type == "tmu", ..keep.cols]
rm(x)
gc()

       used       (Mb)    gc trigger (Mb)    max used   (Mb)
Ncells     583238    31.2    1202557    64.3    1202557    64.3
Vcells 2347077947 17906.8 5264589221 40165.7 4831427816 36860.9

In [10]:
nrow(midas)
nrow(tame)
nrow(tmu)

[1] 82439136

[1] 9673344

[1] 25579776

In [13]:
fwrite(midas, "midas.csv", row.names=F, quote=F)
fwrite(tame, "tame.csv", row.names=F, quote=F)
fwrite(tmu, "tmu.csv", row.names=F, quote=F)