# split into midas,tame,tmu

In [6]:
library(data.table)

In [7]:
x <- fread("../readings_combo.csv", stringsAsFactors=F)
head(x)

  site_id site_name report_date         time_period_end interval len_0_520_cm
1 10000   M3/2055L  2019-03-01T00:00:00 00:14:00        0        8
2 10000   M3/2055L  2019-03-01T00:00:00 00:29:00        1        4
3 10000   M3/2055L  2019-03-01T00:00:00 00:44:00        2        3
4 10000   M3/2055L  2019-03-01T00:00:00 00:59:00        3        4
5 10000   M3/2055L  2019-03-01T00:00:00 01:14:00        4        8
6 10000   M3/2055L  2019-03-01T00:00:00 01:29:00        5        2
  len_521_660_cm len_661_1160_cm len_1160_plus_cm speed_0_10_mph ⋯
1 1              0               0                NA             ⋯
2 0              1               0                NA             ⋯
3 0              1               1                NA             ⋯
4 0              0               0                NA             ⋯
5 0              0               0                NA             ⋯
6 1              1               0                NA             ⋯
  speed_80_plus_mph speed_avg_mph total_vol longitude latitude status type
1 NA                55            9         -1.303344 51.04742 Active midas
2 NA                51            5         -1.303344 51.04742 Active midas
3 NA                46            5         -1.303344 51.04742 Active midas
4 NA                59            4         -1.303344 51.04742 Active midas
5 NA                57            8         -1.303344 51.04742 Active midas
6 NA                50            4         -1.303344 51.04742 Active midas
  direction easting northing
1 eastbound 448931  127795
2 eastbound 448931  127795
3 eastbound 448931  127795
4 eastbound 448931  127795
5 eastbound 448931  127795
6 eastbound 448931  127795

In [8]:
keep.cols <- ! colnames(x) %in% c("type", "status")
midas <- x[x$type == "midas", ..keep.cols]
tame <- x[x$type == "tame", ..keep.cols]
tmu <- x[x$type == "tmu", ..keep.cols]
rm(x)
gc()

       used      (Mb)   gc trigger (Mb)    max used   (Mb)
Ncells    582821   31.2    1202385    64.3    1202385    64.3
Vcells 678255143 5174.7 2013831710 15364.4 1901244753 14505.4

In [9]:
nrow(midas)
nrow(tame)
nrow(tmu)

[1] 21312212

[1] 2493508

[1] 6390472

In [10]:
fwrite(midas, "../output/midas.csv", row.names=F, quote=F)
fwrite(tame, "../output/tame.csv", row.names=F, quote=F)
fwrite(tmu, "../output/tmu.csv", row.names=F, quote=F)